<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="postgres.Properties.Settings.postgresConnectionString"
            connectionString="Host=104.196.169.78;Database=postgres;Username=alejandra_vcampos_97;Persist Security Info=True;Password=12345;"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>